* {
    
    padding: 0;
    box-sizing: border-box;
}
.title {
    color: red;
    text-transform: uppercase;
}
.select {
    padding: 5px;
}
.btn {
    padding: 10px;
    background-color: red;
    color: white;
}
.text {
    border: 2px solid black;
    width: max-content;
    padding: 10px;
    background-color: red;
    color: white;
}
.puntuaciones {
    color: red;
}
